:root {
    --primary:  #7a7aa7; /*#555555;*/
    --primary-variant: #4f4d68; /*#3e3d3d;*/
    --on-background: #7a7aa7; /*#555555;*/
    --on-primary: white;
}

body {
    background-color: #4f4d68;
    font-family: 'DM Mono';
    color: var(--on-primary);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
    border-radius: 15px;
    border: .5px solid #7a7aa7;
}
p, h1 {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar li {
    float: left;
    border: none;
}

.navbar li:last-child {
    float: left;
    border: none;
}

.navbar li:nth-last-child(n + 2) {
    float: left;
    border-right: .5px solid #7a7aa7;
}

.navbar li a {
    display: block;
    color: var(--on-primary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.navbar li a:hover {
    background-color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    border-radius: 15px;
}

.label {
    display: block;
    color: var(--on-primary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7a7aa7;
    color: var(--on-primary);
    text-align: center;
}

/* animation class and keyframes */
.overflow-hidden {
    overflow: hidden;
}

.drop-in {
    animation: drop-in 1s ease 200ms backwards;
}

.fade-in {
    animation: fade-in 3000ms 1000ms backwards;
}

.fade-in-2 {
    animation: fade-in 3500ms 1500ms backwards;
}

.fade-in-3 {
    animation: fade-in 4000ms 2000ms backwards;
}

.fade-in-4 {
    animation: fade-in 4500ms 2500ms backwards;
}

.fade-in-5 {
    animation: fade-in 5000ms 3000ms backwards;
}


@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}