body {
    background-color: #4f4d68;
    font-family: 'DM Mono';
    color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
    border-radius: 15px;
    border: .5px solid #7a7aa7;
}

.navbar li {
    float: left;
    border: none;
}

.navbar li:last-child {
    float: left;
    border: none;
}

.navbar li:nth-last-child(n + 2) {
    float: left;
    border-right: .5px solid #7a7aa7;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.navbar li a:hover {
    background-color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    border-radius: 15px;
}

.label {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7a7aa7;
    color: white;
    text-align: center;
}

.leaderboard {
    margin-left: 1450px;
    margin-top: -800px;
    animation: fade-in 3700ms 1000ms backwards;
}

.leaderboard, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: #7a7aa7;
    color: white;
    text-align: center;
}

.nemtom {
    padding: 200px;
    animation: fade-in 900ms 700ms backwards;
}

.cards {
    width: 570px;
    margin-left: 1125px;
    margin-top: -645px;
    animation: fade-in 900ms 700ms backwards;

}

.nemtom p {
    font-size: 47px;
    margin-top: -278px;
    margin-left: -15px;
    margin-right: 1000px;
}

.loginbutton {
    padding: 23px 20px;
    width: 140px;
    font-size: 15px;
    background-color: #7a7aa7;
    border: none;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: -12px;
    margin-top: 200px;
    color: white;
}

.secure {
    width: 100px;
    margin-left: 100px;
    margin-top: 150px;
}

.money {
    width: 150px;
    margin-left: 70px;
    margin-top: 150px;
}

.fair {
    width: 150px;
    margin-left: 70px;
    margin-top: 150px;
}

.text {
    margin-left: 235px;
    font-size: 20px;
    margin-top: -155px;
    text-justify: auto;
    margin-right: 700px;
}

.text2 {
    margin-left: 240px;
    font-size: 20px;
    margin-top: -155px;
    text-justify: auto;
    margin-right: 700px;
}

.text3 {
    margin-left: 240px;
    font-size: 20px;
    margin-top: -190px;
    text-justify: auto;
    margin-right: 700px;
}

.theme {
    display: fixed;
    margin-left: 1800px;
    margin-right: 70px;
    background-color: black;
}


/* animation class and keyframes */
.overflow-hidden {
    overflow: hidden;
}

.drop-in {
    animation: drop-in 1s ease 200ms backwards;
}

.fade-in {
    animation: fade-in 3000ms 1000ms backwards;
}

.fade-in-2 {
    animation: fade-in 3500ms 1500ms backwards;
}

.fade-in-3 {
    animation: fade-in 4000ms 2000ms backwards;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}